# Importing modules into Python

In [1]:
import csv
import pandas as pd

#### To view the methods available to you within a module

In [2]:
dir(pd) #here are a list of things that I can do with pandas

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'NamedAgg',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [3]:
url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
df = pd.read_csv(url)
print(df.head())

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

# Functions

### Requried Argument Function

In [4]:
def tarea(b,h): #Create function using required argument
    '''Returns area of triangle''' #Create docstring for explanation
    return 0.5*b*h #Create the function

In [5]:
help(tarea) #help will return the docstring if a user wants to understand it

Help on function tarea in module __main__:

tarea(b, h)
    Returns area of triangle

In [6]:
tarea(3,6) #pass in the argument, this has to be in order

9.0

### Keyword Argument Function

In [7]:
def gbps(mbps=0,kbps=0): #Create function using keyword argument
    '''Converts data transfer rates into Gigabyte per second''' #Create docstring for explanation
    mbps_gbps = mbps/1000
    kbps_gbps = kbps/1000000
    return mbps_gbps+kbps_gbps

In [8]:
help(gbps) #help will return the docstring if a user wants to understand it

Help on function gbps in module __main__:

gbps(mbps=0, kbps=0)
    Converts data transfer rates into Gigabyte per second

In [9]:
print(gbps(kbps=750)) #pass in the argument,not all arguments are required
print(gbps(kbps=750,mbps=100)) #they have to be declared and not necessarily in order
print(gbps()) #you can pass nothing if you'd like

0.00075
0.10075
0.0

# Sets

Userful when dealing with data that does not need frequency or sort. Duplicate elemets are ignored
e.g. A set of users who understand python

In [10]:
avengers=set() #to create an empty set
avengers=set(['Thor','Ironman','Hulk','Captain America', 'Black Panther'])
avengers

{'Black Panther', 'Captain America', 'Hulk', 'Ironman', 'Thor'}

In [11]:
avengers.add('Black Widow') #adding a new element
avengers.add('Black Panther') #duplicate element is ignored
avengers

{'Black Panther', 'Black Widow', 'Captain America', 'Hulk', 'Ironman', 'Thor'}

In [12]:
avengers.discard('Black Widow') #remove an object
# avengers.remove('Black Widow') also works, but will throw an error if the element does not exist
avengers

{'Black Panther', 'Captain America', 'Hulk', 'Ironman', 'Thor'}

In [13]:
avengers.clear() #empty all
avengers

set()

### Using Sets in operations

In [14]:
prequel=set(['Yoda','R2D2','Obi-Wan Kenobi','Qui-Gon Jinn','Mace Windu'])
original=set(['Luke Skywalker','Yoda','Obi-Wan Kenobi','Chewbacca','Han Solo','R2D2'])
sequel=set(['Rey','Kyloe Ren','Luke Skywalker','General Hux','Yoda','Chewbacca'])

In [15]:
prequel.union(original)

{'Chewbacca',
 'Han Solo',
 'Luke Skywalker',
 'Mace Windu',
 'Obi-Wan Kenobi',
 'Qui-Gon Jinn',
 'R2D2',
 'Yoda'}

In [16]:
prequel.intersection(sequel)

{'Yoda'}

In [17]:
'Chewbacca' in sequel

True

# Lists

Way to store data. Permits you to add order to the way data is stored. You can retrieve the data with index starting at 0

In [18]:
Sith=['Darth Revan','Darth Bane','Darth Tenebrous','Darth Plagueis','Darth Sidious','Darth Maul','Darth Tyranus']
Sith #notice that order is maintained, if number, sorterd.

['Darth Revan',
 'Darth Bane',
 'Darth Tenebrous',
 'Darth Plagueis',
 'Darth Sidious',
 'Darth Maul',
 'Darth Tyranus']

In [19]:
Sith.append('Darth Vader')
Sith #Vader is added to the end

['Darth Revan',
 'Darth Bane',
 'Darth Tenebrous',
 'Darth Plagueis',
 'Darth Sidious',
 'Darth Maul',
 'Darth Tyranus',
 'Darth Vader']

In [20]:
Sith[0],Sith[-1] #find the first and last Sith in this list

('Darth Revan', 'Darth Vader')

In [21]:
Sith[3:6] #find Sith 3 to 5

['Darth Plagueis', 'Darth Sidious', 'Darth Maul']

In [22]:
#Concatenating Lists
SithAffiliates=['General Grievous','Supreme Leader Snoke','Kylo Ren']
TotalSith = Sith+SithAffiliates
TotalSith

['Darth Revan',
 'Darth Bane',
 'Darth Tenebrous',
 'Darth Plagueis',
 'Darth Sidious',
 'Darth Maul',
 'Darth Tyranus',
 'Darth Vader',
 'General Grievous',
 'Supreme Leader Snoke',
 'Kylo Ren']

# Dictionary

An array of key-value pairs where input is mapped to output

In [36]:
Anakin = {'Gender' : 'Male','Lightsaber': 'Green','Born': '898 BBY','Died': '4 ABY'}
Anakin.get('Gender') # retrieving from dictionaryghtsaber = Green

'Male'

In [46]:
#retrieve all
for key,value in Anakin.items():
    print(key,'=',value)

Gender = Male
Lightsaber = Green
Died = 4 ABY
Born = 898 NNY

In [28]:
jedi_masters = { 'Yoda': {'Gender':'Male','Lightsaber':'Green'},
                'Mace Windu': {'Species' :'Human','Home' :'Coruscant','Gender' :'Male','Lightsaber': 'Purple','Master': 'Cyslin Myr','Apprentice': 'Depa Billaba'},
               'Depa Billaba': {'Species' :'Human','Home' :'Chalacta','Gender' :'Female','Lightsaber': 'Green','Master': 'Mace Windu','Apprentice': 'Caleb Dume'},
                'Caleb Dume': {'Species' :'Human','Home' :'Coruscant','Gender' :'Male','Lightsaber': 'Blue','Master': 'Depa Billaba','Apprentice': 'Ezra Bridger'},
               }

In [37]:
jedi_masters['Yoda']['Apprentice']='Dooku' #adding value to nested dictionary
print(jedi_masters['Yoda'].get('Apprentice')) #retrieving from nested dictionary

Dooku

In [45]:
#custom message if key-value does not exist
print(jedi_masters['Yoda'].get('Species','Unknown Species'))

Unknown Species

In [ ]:
#After Revenge of the Sith
del jedi_masters['Mace Windu'] #you can also use pop